@tailwind base;
*{
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);}:root {--primary:rgb(244, 170, 33) ;--secondary: rgb(249, 167, 17);}
  
    *::-webkit-scrollbar {
      width: 5px;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: var(--secondary);
      border-radius: 20px;
      border: 2px solid var(--primary);
    }
@tailwind components;
@tailwind utilities;